// reference/variables/_colors.scss

// Color
$white: #fff;
$ghost-white: #FAFAFB;
$black: #171f38;

$grey-dark: #313131;
$grey: #e6e7e8;
// $grey: #ced4da;

$blue-lighter: #094cae; //remove this or the next?
$blue-light: #1e5791;
$blue: #234a9e; // logo blue, contact button
$blue-dark: #173066; //hover for contact
// rgba(23, 48, 102, .8)
$blue-darker: #0a2152; //remove?

$orange: #9E4433;
$orange-dark: #6a2e22;

//colors from static site that may go unused
$purple: #52547a;
$purple-dark:   #424767;
