{% extends 'base.twig' %}

{% block content %}
	<main class="main main--large" id="main-content" tabindex="0">
		{% include '_components/hero' %}
		{% include '_components/content-sections' %}
	</main>
{% endblock %}
