{% extends 'base.twig' %}

{% block content %}
	<main class="main main--large" id="main-content" tabindex="0">
        {% include '_components/hero' %}
        {% include '_components/project-meta' %}
        {% include '_components/content-sections' %}
        {% include '_components/related-projects' %}
    </main>
{% endblock %}
