<nav class="mobile-nav">
    <button aria-label="Exit mobile navigation" class="mobile-nav__exit-button js-mobile-nav-link" tabindex="-1" type="button"></button>
    <ul class="mobile-nav__list" role="menu">
        <li class="mobile-nav__item" role="presentation">
            <a
                class="mobile-nav__anchor js-mobile-nav-link"
                href=""
                role="menuitem"
            >
                Work
            </a>
        </li>
    </ul>
</nav>