<!DOCTYPE html>
<html class="no-js" itemscope itemtype="http://schema.org/WebPage" prefix="og:http://ogp.me/ns#" lang="en">

	<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

			<title>Engineering and design consulting | Tangent Design Engineering</title>
			<meta name="description" content="Tangent is an Engineering and Design Consultancy. We bring your ideas to life."/>
			<meta property="og:title" content="Tangent Design Engineering">
			<meta property="og:type" content="website">
			<meta property="og:url" content="https://www.tangentservices.com/">
			<meta property="og:site_name" content="Tangent Design Engineering">
			<meta property="og:locale" content="en_US">

			{# <meta name="google-site-verification" content=""/> #}

			<!--DNS Prefetch -->
			{# <link rel="dns-prefetch" href="https://www.gstatic.com">
			<link rel="dns-prefetch" href="http://www.googletagmanager.com">
			<link rel="dns-prefetch" href="http://www.google-analytics.com"> #}
			{# <link
			rel="dns-prefetch" href="https://polyfill.io"> #}

			<!--Favicon -->
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

			<!--Humans -->
			{# <link
			rel="author" href="/humans.txt"/> #}

			<!--Inline the critical CSS. -->
			<link rel="stylesheet" href="/assets/styles/critical.css">

			<!--Asynchronously load the non-critical CSS. -->
			<link
			rel="stylesheet" rel="preload" as="style" href="/assets/styles/style.css">

			{% block styles %}

			{% endblock %}

			<!--If no js is available, load the non-critical CSS immediately. -->
			<noscript>
				<link rel="stylesheet" href="/assets/styles/style.css">
			</noscript>
	</head>

	<body class="body">
		<div class="body__wrapper">
			<header class="header">
				<div class="u-container">
					<div class="header__container">
						<div class="header__row">
							<div class="header__column">
								<a href="/" class="header__logo-anchor" title="Tangent Design Engineering logo">
									<svg height="45" fill="#234a9e" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 1125 284">
										<g id="Tangent_design_enigineering" transform="translate(29.667 27.333)">
											<g id="Group_1">
											<path id="Path_198" d="M378.45 63.65 323.21-6.73h-26.72v108.65h26.72V31.55l55.24 70.38h26.71V-6.73h-26.71v70.38zm107.7 50.44h-19.82v24.14h56.05c-1.17-21.98-7.45-24.14-36.23-24.14zM169.7-6.73l-48.25 108.65h27.92l6.68-16.18h51.92l6.68 16.18h27.91L194.29-6.73H169.7zm-4.44 70.21 16.73-40.47 16.75 40.47h-33.48zM-17 17.08h43.03v84.84h26.72V17.08h38.93V-6.73H-17v23.81zM522.88 9.9c11.51 0 22.46 5 29.99 13.72l17.61-17.6c-24-26.31-64.78-28.19-91.1-4.19-26.31 24-28.19 64.78-4.19 91.1a64.537 64.537 0 0 0 34.07 19.59c9.65-2.43 12.45-8.42 13.18-22.99-21.98-.33-39.54-18.42-39.21-40.41.33-21.7 17.96-39.13 39.65-39.22zm365.69 53.83L833.28-6.73h-26.73v108.79h26.73V31.6l55.31 70.46h26.76V-6.73h-26.76l-.02 70.46zm80.98-70.46v23.84h43.08v84.94h26.74V17.11h38.97V-6.73H969.55zM523 138.23h52.17v-24.14H559.2c-28.18 0-34.86 2.72-36.2 24.14zm0-96.92.08 5.96V65h36.65c-6.19 14.86-20.72 24.53-36.81 24.53.73 14.72 3.59 20.68 13.36 23.04 32.91-6.81 54.98-37.87 50.59-71.19L523 41.31zm117.76 60.76h102.27V78.21h-75.51V59.13h68.61V35.29h-68.61V17.11h75.51V-6.73H640.76v108.8z" class="st0"/>
											</g>
											<g id="Group_2">
											<path id="Path_199" d="M24.57 169.14h21.04c35.36 0 36.8 29.02 36.8 34.02 0 5-1.46 34.01-36.8 34.01H24.57v-68.03zm6.33 62.29h13.07c18.06 0 32.12-8.76 32.12-28.25s-14.03-28.25-32.12-28.25H30.93l-.03 56.5z" class="st0"/>
											<path id="Path_200" d="M96.67 169.14h41.6v5.76h-35.26v24.21h33.05v5.77h-33.05v26.52h36.8v5.76H96.67v-68.02z" class="st0"/>
											<path id="Path_201" d="M155.47 224.58c3.2 5.52 9.2 8.82 15.57 8.55 7.6.79 14.41-4.73 15.21-12.33.04-.34.06-.68.07-1.02 0-19.02-35.07-7.88-35.07-33.72 0-12.11 10.37-18.64 21.81-18.64 7.21-.35 14.13 2.85 18.54 8.55l-5.47 3.96a15.25 15.25 0 0 0-13.26-6.73c-8.17 0-15.28 4.23-15.28 12.88 0 20.46 35.07 8.17 35.07 33.72 0 12.3-10.09 19.12-21.14 19.12-8.63.53-16.95-3.34-22.1-10.28l6.05-4.06z" class="st0"/>
											<path id="Path_202" d="M207.1 169.14h6.33v68.03h-6.33v-68.03z" class="st0"/>
											<path id="Path_203" d="M288.2 232.75a50.03 50.03 0 0 1-25.37 6.15c-18.8.63-34.56-14.1-35.19-32.9-.03-.95-.02-1.89.02-2.84-.94-18.79 13.53-34.78 32.32-35.72.95-.05 1.9-.06 2.85-.02 9.13-.41 18.01 3 24.52 9.42l-4.61 4.8a27.593 27.593 0 0 0-19.89-8.46c-17.78 0-28.82 13.07-28.82 29.98s11.05 29.98 28.82 29.98c6.59.37 13.16-1.02 19.03-4.03v-22.87h-16.35v-5.77h22.68v32.28z" class="st0"/>
											<path id="Path_204" d="M306.86 169.14h8.17l41.42 59.57h.19v-59.57h6.33v68.03h-8.16l-41.42-59.57h-.19v59.57h-6.33l-.01-68.03z" class="st0"/>
											<path id="Path_205" d="M406.62 169.14h41.61v5.76h-35.27v24.21h33.06v5.77h-33.06v26.52h36.8v5.76h-43.14v-68.02z" class="st0"/>
											<path id="Path_206" d="M463.61 169.14h8.17l41.41 59.57h.19v-59.57h6.33v68.03h-8.17l-41.41-59.57h-.19v59.57h-6.33v-68.03z" class="st0"/>
											<path id="Path_207" d="M594.5 232.75a50.03 50.03 0 0 1-25.37 6.15c-18.8.63-34.56-14.1-35.19-32.9-.03-.95-.02-1.9.02-2.85-.94-18.79 13.53-34.78 32.32-35.72.95-.05 1.9-.06 2.85-.02 9.12-.41 18 3.01 24.5 9.42l-4.61 4.8a27.576 27.576 0 0 0-19.89-8.46c-17.77 0-28.82 13.07-28.82 29.98s11.05 29.98 28.82 29.98c6.59.37 13.16-1.02 19.03-4.03v-22.87h-16.34v-5.77h22.68v32.29z" class="st0"/>
											<path id="Path_208" d="M613.16 169.14h6.33v68.03h-6.33v-68.03z" class="st0"/>
											<path id="Path_209" d="M638.15 169.14h8.17l41.41 59.57h.19v-59.57h6.33v68.03h-8.17l-41.41-59.57h-.19v59.57h-6.33v-68.03z" class="st0"/>
											<path id="Path_210" d="M712.92 169.14h41.61v5.76h-35.26v24.21h33.05v5.77h-33.05v26.52h36.79v5.76h-43.14v-68.02z" class="st0"/>
											<path id="Path_211" d="M769.91 169.14h41.61v5.76h-35.26v24.21h33.05v5.77h-33.05v26.52h36.79v5.76h-43.14v-68.02z" class="st0"/>
											<path id="Path_212" d="M826.91 169.14h17.87c5.35 0 24.21 0 24.21 17.87 0 12.97-9.9 16.55-17.39 17.48l19.79 32.67h-7.2l-19.12-32.28h-11.82v32.28h-6.33l-.01-68.02zm6.32 29.98h13.45c13.36 0 15.95-7.4 15.95-12.1 0-4.71-2.59-12.11-15.95-12.11h-13.45v24.21z" class="st0"/>
											<path id="Path_213" d="M883.9 169.14h6.33v68.03h-6.33v-68.03z" class="st0"/>
											<path id="Path_214" d="M908.88 169.14h8.17l41.41 59.57h.19v-59.57h6.33v68.03h-8.17L915.4 177.6h-.19v59.57h-6.33v-68.03z" class="st0"/>
											<path id="Path_215" d="M1039.77 232.75a50.03 50.03 0 0 1-25.37 6.15c-18.8.63-34.56-14.1-35.19-32.9-.03-.95-.02-1.9.02-2.85-.94-18.79 13.53-34.78 32.32-35.72.95-.05 1.9-.06 2.85-.02 9.12-.41 18 3.01 24.5 9.42l-4.61 4.8a27.593 27.593 0 0 0-19.89-8.46c-17.77 0-28.82 13.07-28.82 29.98s11.05 29.98 28.82 29.98c6.59.37 13.16-1.02 19.03-4.03v-22.87h-16.34v-5.77h22.68v32.29z" class="st0"/>
											</g>
										</g>
									</svg>
								</a>
							</div>
							<div class="header__column">
							<a href="/contact" class="button header__contact">Contact Us</a>
								<button aria-label="Open mobile navigation" class="header__mobile-nav-button" type="button">
									<svg fill="#234a9e" viewBox="0 0 100 80" width="25" height="25">
										<rect width="100" height="15"></rect>
										<rect y="30" width="100" height="15"></rect>
										<rect y="60" width="100" height="15"></rect>
									</svg>
								</button>
								{% include '_components/primary-nav' %}
							</div>
						</div>
					</div>
				</div>
			</header>

			<main class="main" id="main-content" tabindex="0">
				{% block layout %}
					{% block content %}{% endblock %}
				{% endblock %}
			</main>

			{% include '_components/footer' %}

		</div>
		{% include '_components/mobile-nav' %}
		<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
		<script src="/assets/scripts/nav.js" async defer></script>
		<script src="/assets/scripts/featured-projects.js" async defer></script>

	</body>

</html>
