$block: 'cta';

.#{$block} {
	margin: 1.5rem 0;

	@include media-min(md) {
		margin: 3rem 0;
	}

	&__inner {
		border: 1px solid $grey;
		padding: 3rem;
	}

	&__summary {
		font-weight: 300;
		padding-bottom: 2rem;
	}
  }
