$block: 'disciplines-nav';

.#{$block} {
	margin: 1.5rem 0;

	@include media-min(md) {
		margin: 3rem 0;
	}

	ul {
		column-count: 3;
		column-gap: 2rem;
		list-style: none;
		padding: 0;
	}

	li {
		margin-bottom: 1rem;
	}
}
