@import '../reference/reference';

$block: 'hero';

.#{$block} {
    &__container {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 6rem;
        min-height: 300px;
        overflow: visible;
        position: relative;

        @include media-min(md) {
             align-items: flex-end;
             justify-content: flex-start;
             min-height: 535px;
             margin: 0;
        }

        &--end {
            @include media-min(md) {
                justify-content: flex-end;
           }
        }
    }

    &__video {
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: 100%;
        z-index: 0;

        &-container {
            height: 300px;
            left: 0;
            min-width: 100%;
            position: absolute;
            right: 0;
            z-index: -1;

            @include media-min(md) {
                height: 535px;
            }
        }
    }

    &__image {
        background-size: cover;
        clip: initial;
        left: 0;
        min-height: 400px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;

        @include media-min(md) {
            height: 100%;
        }
    }

    &__text {
        background-color: $white;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.05);
        //margin-bottom: 2rem;
        padding: 2rem;

        @include media-min(md) {
            background-color: rgb(0,0,0, 0.5);
            color: $white;
            margin-bottom: 2rem;
        }
    }

    &__supertitle {
        font-family: "PT Mono",sans-serif;
        font-size: .8rem;
        line-height: .83;
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__subtitle {
        display: inline-block;
        font-weight: $font-weight-light;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    &__row {
        width: 100%;
        position: absolute;
        bottom: -6rem;
        //bottom: -50%;
        //transform: translateY(-50%);

        @include media-min(md) {
            width: initial;
            position: static;
            transform: none;
        }
    }
}

