@import '../reference/reference';

$block: 'image-panel';
$block-full-width: 'image-panel-full-width';

.#{$block} {
	margin: 1rem 0;

	@include media-min(md) {
		margin: 1.5rem 0;
	}

	&--no-margin {
		margin: 0;

		@include media-min(md) {
			margin: 0;
		}
	}

	&__figure {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	&__picture {
		width: 100%;
		//height: 100%;
	}

	&__image {
		display: block;
		//box-shadow: $box-shadow;
		height: auto;
		margin: 0 auto;
		max-width: 100%;
		width: 100%;

		@include media-min (md) {
			max-height: 500px;
		 	width: auto;
		}

		&--shadow {
			box-shadow: $box-shadow;
		}
		
		&--100 {
			width: 100%;

			@include media-min (md) {
				max-height: initial;
			}
		}
	}
}

.#{$block-full-width} {
	height: 275px;
	margin: 1.5rem;
	overflow: hidden;
	position: relative;

	@include media-min(md) {
		margin: 3rem 0;
	}

	@include media-min(lg) {
		height: 500px;
	}

	&__picture {
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&__image {
		display: block;
		font-family: "object-fit:cover;object-position:center center";
		height: 100%;
		object-fit: cover;
		object-position: center center;
		user-select: none;
		width: 100%;
	}
}
