@import '../reference/reference';

$block: 'services-rollup';

.#{$block} {
   padding: 3rem 0;

	&__heading {
		color: $blue;
		font-weight: 500;
		margin-bottom: 2rem;
		}

	&__items {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 4rem 2rem;

		@include media-min(lg) {
			grid-template-columns: repeat(2, 1fr);
		}
	}


   &__item {
		display: flex;
		width: 100%;
      	//grid-auto-rows: 1fr;
	}

	&__picture {
		padding-right: 2rem;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}

